.demo-navbar {
    border-bottom: 1px solid lightgray;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 5px;
    height: 30px;
}

.demo-navbar span {
    font-weight: 400;
    font-style: italic;
}

.demo-navbar select {
    margin-left: 10px;
}

.editor {
  width: 100%;
  height: calc(100% - 34px);
}

.split-pane-root {
  height: calc(100% - 34px) !important;
}

.editor-header {
  width: 100%;
  padding: 4px;
  padding-left: 10px;
  background: #F6F6F6;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.preview-container {
    width: 100%;
    height: 100%;
    padding: 10px;
    background: #F6F6F6;
}

.preview-guideline {
    stroke: lightgray;
    stroke-width: 1px;
    stroke-dasharray: 5 1;
    shape-rendering: crispEdges;
}

.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}