.demo-navbar {
    border-bottom: 1px solid lightgray;
    font-weight: bold;
    padding-left: 10px;
    height: 40px;
}

.editor-nav-button {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 10px;
    cursor: pointer;
    background: white;
    color: black;
}

.demo-navbar select {
    margin-left: 8px;
}

.editor {
    width: 100%;
    height: calc(100% - 40px);
}

.editor-button {
    transition: transform 0.2s ease-in-out;
    background: transparent;
}

.editor-button:hover {
    transform: scale(1.1);
}

.split-pane-root {
    height: calc(100% - 40px) !important;
}

.editor-header {
    width: 100%;
    padding: 4px;
    padding-left: 10px;
    background: #f6f6f6;
    border-bottom: 1px solid lightgray;
    height: 30px;
}

.editor-data-preview-panel {
    height: 100%;
    /* border: 1px solid #ccc; */
}

.editor-data-preview-tab .selected-tab {
    border-top: 1px solid gray;
    background-color: white;
    /* hide bottom gray bar */
    /* border-bottom: 2px solid white; */
}

.editor-data-preview-tab .unselected-tab {
    background-color: #f6f6f6;
}

.editor-data-preview-tab {
    /* position: absolute; */
    height: 40px;
    overflow-x: auto;
    white-space: nowrap;
    border-bottom: 0.25px solid #cccccc;
    background-color: #f6f6f6;
}

.editor-data-preview-tab button {
    min-width: 100px;
    height: 40px;
    border: none;
    border-right: 0.25px solid #cccccc;
    border-radius: 0px;
}

.editor-data-preview-tab button:focus {
    outline: none;
}
/* #F6F6F6; */
.editor-data-preview-tab-info {
    background-color: white;
    width: 100%;
    line-height: 30px;
    overflow-x: auto;
    overflow-y: hidden;
    color: gray;
    white-space: nowrap;
    /* border-top: 0.5px solid #CCCCCC; */
    border-bottom: 0.5px solid #cccccc;
    padding-left: 6px;
}

.editor-data-preview-table {
    height: calc(100% - 80px);
    border-collapse: collapse;
    overflow-y: auto;
}

.editor-data-preview-table table {
    width: 100%;
}

.editor-data-preview-table th,
td {
    padding: 12px;
    text-align: left;
}

.editor-data-preview-table th {
    background-color: white;
    border-bottom: 0.5px solid black;
}

.editor-data-preview-table tr:nth-child(even) {
    background-color: #f6f6f6;
}

.editor-data-preview-table tr:nth-child(odd) {
    background-color: white;
}

.preview-container {
    width: 100%;
    height: 100%;
    padding: 6px;
    background: #f6f6f6;
    overflow-y: auto;
}

.preview-guideline {
    stroke: lightgray;
    stroke-width: 1px;
    stroke-dasharray: 5 1;
    shape-rendering: crispEdges;
}

.compile-message {
    position: absolute;
    padding: 2px;
    padding-left: 6px;
    padding-right: 6px;
    right: 16px;
    margin-top: -60px;
    opacity: 0.75;
    transition: margin-top 500ms;
}

.compile-message-error {
    background: #ff6a63;
    border-left: 6px solid #dd3c34;
    color: white;
    margin-top: 0;
}

.compile-message-warn {
    background: #e9a80a;
    border-left: 6px solid #a07508;
    color: black;
    margin-top: 0;
}

.Resizer {
    background: #000;
    opacity: 0.2;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

.Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

.Resizer.horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
}

.Resizer.horizontal:hover {
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
}

.Resizer.vertical:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
    cursor: not-allowed;
}
.Resizer.disabled:hover {
    border-color: transparent;
}

.rotate {
    animation: rotation 10s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
