/node_modules
/.pnp
.pnp.js
/coverage
src/lib/test/data
/build/*
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*.profraw
npm-debug.log*
yarn-debug.log*
yarn-error.log*
report.*