button {
    background-color: transparent;
    border: none;
}

.demo-navbar {
    /* color: white; */
    /* background-color: #24292F; */
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid lightgray;
    font-weight: bold;
    padding-left: 10px;
    height: 40px;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

.logo {
    display: inline-block;
    height: 100%;
    margin-left: 7px;
    margin-right: 5px;
}

.logo svg {
    vertical-align: middle;
}

.gosling-color {
    color: #e18343 !important;
}

.dark {
    background: #1e1e1e !important;
    color: white !important;
    border-color: #383838 !important;
}

.dark .side-panel-button {
    color: lightgray !important;
}

.description-button {
    color: #e18343;
    margin-right: 8px;
    cursor: pointer;
    background-color: white;
}

.editor-nav-button {
    height: 100%;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 10px;
    cursor: pointer;
    color: black;
}

.demo-label {
    margin-left: 16px;
    font-weight: 400;
    color: #e18343;
    cursor: pointer;
    margin-right: auto;
}

.mr-1 {
    margin-right: 1rem;
}

.demo-navbar select {
    margin-left: 16px;
    padding: 2px 10px;
    font-weight: lighter;
    color: rgb(89, 89, 89);
    border-radius: 6px;
    border: none;
    background-color: rgb(237, 237, 237);
    cursor: pointer;

    /* Remove Safari's gradient */
    -webkit-appearance: none;
}

.demo-navbar a {
    color: #000;
}

.demo-navbar select:focus {
    outline: none;
}

/* Drop down menu's triangle-down icon */
.demo-dropdown:after {
    content: '▼';
    right: 14px;
    font-size: 10px;
    position: relative;
    top: -1px;
    color: #878787;
}

.editor {
    width: 100%;
    height: calc(100% - 40px);
}

.editor-button {
    transition: transform 0.2s ease-in-out;
    background: transparent;
}

.editor-button:hover {
    transform: scale(1.1);
}

.autorun-button {
    color: #e18343;
}

.side-panel-spliter .Resizer.disabled {
    cursor: default !important;
}

.side-panel {
    border: none;
    background-color: #fafafa;
    overflow-y: auto;
    height: 100%;
}

.side-subpanel {
    padding-top: 5px;
    background-color: #f1f1f1;
    border-bottom: lightgray solid 1px;
    border-top: lightgray solid 1px;
}

.side-panel .side-panel-button,
.side-subpanel .side-subpanel-button {
    margin-top: 10px;
    margin-bottom: 24px;
    font-size: 9px;
    width: 100%;
    display: block;
    text-align: center;
    cursor: pointer;
    color: rgb(89, 89, 89);

    /* align-items: center; */
    /* align-self: center; */
    /* align-content: center; */
    /* margin-left: 10px; */
    /* display: flex;  */
    /* justify-content: center; */
}

.side-subpanel .side-subpanel-button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.side-panel .side-panel-button-not-active,
.side-subpanel .side-subpanel-button-not-active {
    color: #aaa;
    cursor: not-allowed;
}

.side-panel .side-panel-button .side-subpanel {
    display: none;
}

.side-panel .side-panel-button:hover .side-subpanel {
    display: block;
}

.editor-header {
    width: 100%;
    height: 28px;
    padding: 4px;
    padding-left: 10px;
    background: #fafafa;
    border-bottom: 1px solid lightgray;
    overflow-x: auto;
}

.data-preview-refresh-button {
    padding: 10px;
    font-size: 9px;
    width: 100%;
    display: block;
    text-align: center;
    cursor: pointer;
    color: rgb(89, 89, 89);
    background-color: #fafafa;
    border-bottom: 1px solid lightgray;
}

.data-preview-loading-icon {
    color: rgb(12, 186, 12);
    animation-duration: 700ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.data-preview-stop-icon {
    color: rgb(12, 186, 12);
}

@keyframes blink {
    from {
        color: rgb(12, 186, 12);
    }
    to {
        color: #fafafa;
    }
}

.editor-data-preview-panel {
    /* padding: 30px; */
    /* padding-top: 10px; */
    width: calc(100%);
    height: calc(100%);
    /* border: 1px solid #ccc; */
}

.editor-data-preview-tab .selected-tab {
    border-top: 2px solid #e18343;
    background-color: white;
    /* hide bottom gray bar */
    /* border-bottom: 2px solid white; */
}

.editor-data-preview-tab .unselected-tab {
    background-color: #fafafa;
}

.editor-data-preview-tab {
    /* position: absolute; */
    height: 40px;
    overflow-x: auto;
    white-space: nowrap;
    border-bottom: 0.25px solid #cccccc;
    background-color: #fafafa;
}

.editor-data-preview-tab button {
    min-width: 100px;
    height: 40px;
    border: none;
    border-right: 0.25px solid #cccccc;
    border-radius: 0px;
}

.editor-data-preview-tab button:focus {
    outline: none;
}
/* #F6F6F6; */
.editor-data-preview-tab-info {
    background-color: white;
    width: 100%;
    line-height: 30px;
    overflow-x: auto;
    overflow-y: hidden;
    color: gray;
    white-space: nowrap;
    /* border-top: 0.5px solid #CCCCCC; */
    border-bottom: 0.5px solid #cccccc;
    padding-left: 6px;
}

.editor-data-preview-table {
    height: calc(100% - 80px);
    border-collapse: collapse;
    overflow-y: auto;
}

.editor-data-preview-table table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.editor-data-preview-table th,
td {
    padding: 12px;
    text-align: left;
}

.editor-data-preview-table th {
    background-color: white;
    border-bottom: 0.5px solid black;
}

.editor-data-preview-table tr:nth-child(even) {
    background-color: #fafafa;
}

.editor-data-preview-table tr:nth-child(odd) {
    background-color: white;
}

.preview-container {
    width: 100%;
    height: 100%;
    padding: 6px;
    background: #fafafa;
    overflow-y: auto;
}

.preview-guideline {
    stroke: lightgray;
    stroke-width: 1px;
    stroke-dasharray: 5 1;
    shape-rendering: crispEdges;
}

.compile-message {
    position: absolute;
    padding: 2px;
    padding-left: 6px;
    padding-right: 6px;
    right: 16px;
    margin-top: -60px;
    opacity: 0.75;
    transition: margin-top 500ms;
}

.compile-message-error {
    background: #ff6a63;
    border-left: 6px solid #dd3c34;
    color: white;
    margin-top: 0;
}

.compile-message-warn {
    background: #e9a80a;
    border-left: 6px solid #a07508;
    color: black;
    margin-top: 0;
}

.Resizer {
    background: #000;
    opacity: 0.2;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

.Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

.Resizer.horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
}

.Resizer.horizontal:hover {
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
}

.Resizer.vertical:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
    cursor: not-allowed;
}
.Resizer.disabled:hover {
    border-color: transparent;
}

.rotate {
    animation: rotation 10s infinite linear;
}

.gist-title {
    font-weight: normal;
    margin-left: 10px;
}

.description {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    height: 100%;
    background: white;
    border-left: 0.5px solid lightgray;
}

.description-transition {
    transition: width 0.15s ease-out;
}

.description-shadow {
    box-shadow: 10px 0px 25px 0 #888;
}

.description-resizer-disabled,
.description-resizer {
    cursor: ew-resize;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: transparent;
    position: absolute;
}

.description-resizer-disabled {
    cursor: default;
}

.description-resizer:hover {
    background-color: rgb(233, 233, 233);
}

.description-wrapper {
    margin-left: 1px;
    padding: 1em;
    min-width: 20em;
}

.description-wrapper > header {
    margin-bottom: 10px;
}

.show-description-button {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #eee;
    height: 100%;
    width: 20px;
}

.show-description-button:hover,
.show-description-button:active,
.show-description-button:focus {
    background-color: #ddd;
    cursor: pointer;
}

.show-description-button > span {
    font-size: 9px;
    color: rgb(89, 89, 89);
    transform: rotate(90deg);
    white-space: nowrap;
    text-transform: uppercase;
    -webkit-user-select: none; /* Chrome 49+ */
    -moz-user-select: none; /* Firefox 43+ */
    -ms-user-select: none; /* No support yet */
    user-select: none; /* Likely future */
}

.show-description-button:hover > span,
.show-description-button:active > span,
.show-description-button:focus > span {
    color: black;
}

.description-github-button {
    cursor: pointer;
}

.hide-description-button {
    cursor: pointer;
    font-size: 9px;
    color: rgb(89, 89, 89);
    border: 1px solid #aaa;
    border-radius: 3px;
    background: white;
    text-transform: uppercase;
}

.hide-description-button:hover,
.hide-description-button:active,
.hide-description-button:focus {
    border: 1px solid #808080;
    background: #eee;
    color: black;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.about-modal-container,
.about-modal-container-hidden {
    z-index: 3;
    background-color: #00000066;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Slow, so disabled */
    /* transition: background-color 0.3s ease; */
}

.about-modal-container-hidden {
    background-color: #00000000;
    pointer-events: none;

    /* Adding this since transition is laggy when changing a demo */
    opacity: 0;
}

.about-modal {
    z-index: 35;
    opacity: 1;
    position: absolute;
    left: calc(50% - 200px);
    top: calc(50% - 250px);
    width: 400px;
    height: 500px;
    box-shadow: 0px 0px 15px #00000088;
    background: white;
    border-radius: 10px;
    transition: opacity 0.3s ease;
    padding: 30px;
}

.about-modal-hidden {
    visibility: hidden;
}

.about-model-close-button {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

.tabEditor {
    width: 100%;
    height: 100%;
}
.tab {
    overflow: hidden;
    background-color: #f1f1f1;
    border-bottom: 2px solid white;
    line-height: 20px;
}

.tab button {
    border: none;
    outline: none;
    line-height: 20px;
    background-color: #f1f1f1;
    color: black;
}
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #fff;
}

.tabContent {
    width: 100%;
    height: calc(100% - 24px);
}

.tabContent.show {
    display: block;
}

.tabContent.hide {
    display: none;
}

/* tooltip */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: gray;
    color: #fff;
    border-radius: 2px;
    padding: 5px 8px;
    text-align: left;

    /* Position the tooltip */
    position: absolute;
    z-index: 10;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
