#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.label {
  display: inline-block;
}

#plot {
  text-align: center;
  width: 1000px;
  position: relative;
}
#plot canvas {
  outline: 1px solid #bdbdbd;
  border-radius: 5px;
}

.desc {
  max-width: 800px;
  margin: 1em 0;
}

.top-corner {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em 2em;
}
