name: Build and deploy editor

on:
    push:
        branches: [master]
    pull_request:

jobs:
    build:
        name: Test and build editor

        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [14.x, 16.x]

        steps:
            - uses: actions/checkout@v3
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: 'yarn'
            - run: yarn install
            - run: yarn coverage
              env:
                  NODE_OPTIONS: '--max_old_space_size=4096'
            - run: yarn build-editor
              env:
                  NODE_OPTIONS: '--max_old_space_size=4096'
            - uses: codecov/codecov-action@v1
              with:
                  fail_ci_if_error: true

    typecheck:
        name: Type-check
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: 16
                  cache: 'yarn'
            - run: yarn install
            - run: yarn build-types

    lint:
        name: Lint
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: 16
                  cache: 'yarn'
            - run: yarn install
            - run: yarn eslint src/ editor/

    deploy:
        name: Deploy editor

        runs-on: ubuntu-latest

        needs: [build]

        if: github.ref == 'refs/heads/master'

        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: 14
            - run: yarn install
            - run: yarn build-editor
              env:
                  NODE_OPTIONS: '--max_old_space_size=4096'
            - name: Deploy editor
              run: |
                  git config --global user.name "action@github.com"
                  git config --global user.email "GitHub Action"
                  git remote set-url origin https://${ACCESS_TOKEN}@github.com/${REPO}.git
                  yarn deploy
              env:
                  ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
                  REPO: ${{ github.repository }}
