name: CI

on:
    push:
        branches:
            - main
    pull_request:

env:
  FORCE_COLOR: "1"

jobs:

    # Build:
    #     name: Build Editor
    #     runs-on: ubuntu-latest
    #     steps:
    #         - uses: actions/checkout@v3
    #         - name: Use Node.js
    #           uses: actions/setup-node@v3
    #           with:
    #               node-version: 20
    #         - uses: pnpm/action-setup@v2
    #         - run: pnpm install
    #         - run: pnpm build-editor
    #           env:
    #               NODE_OPTIONS: '--max_old_space_size=4096'

    # Test:
    #     name: Test
    #     runs-on: ubuntu-latest
    #     strategy:
    #         matrix:
    #             node-version: [20.x]
    #     steps:
    #         - uses: actions/checkout@v3
    #         - name: Use Node.js ${{ matrix.node-version }}
    #           uses: actions/setup-node@v3
    #           with:
    #               node-version: ${{ matrix.node-version }}
    #         - uses: pnpm/action-setup@v2
    #         - run: pnpm install
    #         - run: |
    #             pnpm build-types # typecheck
    #             pnpm coverage
    #           env:
    #               NODE_OPTIONS: '--max_old_space_size=4096'
    #         - uses: codecov/codecov-action@v3
    #           with:
    #               token: ${{ secrets.CODECOV_TOKEN }}
    #               fail_ci_if_error: true
    # VisualTest:
    #     name: Visual Regression
    #     runs-on: ubuntu-latest
    #     steps:
    #         - uses: actions/checkout@v3
    #         - name: Use Node.js
    #           uses: actions/setup-node@v3
    #           with:
    #               node-version: 20
    #         - uses: pnpm/action-setup@v2
    #         - run: pnpm install
    #         - run: npx playwright install --with-deps chromium
    #         - run: pnpm test-ct

    # Lint:
    #     runs-on: ubuntu-latest
    #     steps:
    #         - uses: actions/checkout@v3
    #         - uses: actions/setup-node@v3
    #           with:
    #               node-version: 20
    #         - uses: pnpm/action-setup@v2
    #         - run: pnpm install
    #         - name: ESLint
    #           run: pnpm eslint src/ editor/
    #         - name: Assert schemas are all up to date
    #           run: |
    #               pnpm schema
    #               git diff --exit-code
